ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
body {
    background-image:url(https://th.bing.com/th/id/OIP.XBNhUh-vIY8hBrjk6xBabQHaEo?w=255&h=180&c=7&r=0&o=5&dpr=1.1&pid=1.7);
    background-repeat: no-repeat;
    background-size: 1350px 465px;
    background-position: bottom 0px right 0px;
}  